*{
    margin: 0%;
    font-family: Arial;
    border: border-box;
    
}
.navbar{
    height: 60px;
    width: 100%;
    background-color: rgb(30, 48, 69);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.navlogo{
    height: 50px;
    width: 100px;
    width: 100px; 
}

.logo{
    background-image: url("Amazon-Logo.png"); 
    background-size: cover;
    height: 50px;
    width: 100%;

}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.Add-first{
    color: #cccccc;
    font-size: 1rem;
    margin-left: 15px;

}
.Add-sec{
    font-size: 1rem;
    margin-left: 15px;

}
.navaddressicon{
    display: flex;
}
.navaddress{
    margin-left: 5px;
    
}
.navsearch{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    background-color: rgb(224, 132, 10);
    border-radius: 4px;
}
.navsearch:hover{
    border: 2px solid orange;
}
.selectselect{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
     border-top-left-radius:  4px;
     border-bottom-left-radius:4px ;
     border: none;
}
.searchsearch{
    width: 100%;
    border: none;
}
.searchicon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}


.country{
    width: 60px;
    display: flex;
    justify-content: space-evenly
    
}
.conlogo{
    width: 10px;
}
.context{
    width: 30px;
    justify-content: center;
    align-items: center;
}

span{
    font-size: 0.7rem;
}
.navsecond{
    font-size: 0.85;
    font-weight: 700;
}
.cart i{
    font-size: 30px;
    
}
.cart{
    font-size: 0.85;
    font-weight: 700;
    display: flex;
    
}

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
}
.panel-opps p {
    display: inline;
    margin-left: 15px ;
    
    
}
.panel-opps {
    
    width: 70%;
    font-size: 14px;
    

}
.panel-deals{
    font-size: 1.1rem;
    font-weight: 700;
}

.hero-section {
    background-image: url("amazonhero_img.jpg");
    height: 300px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero-msg{
    font-size: 0.85rem;
    background-color: white;
    color: black;
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.hero-msg a{
    color: #007185
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 300px;
    border: 2px solid black;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 5px;
}
.box-img{
    height: 210px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20px;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p{
    color: #007185;
}

footer{
    margin-top: 15px;
}
.footpanel1{
    background-color: #37475A;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
.footpanel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a {
    display: block;
    font-size: 0.8;
    margin-top: 10px;
    color: #dddddd;
}
.footpanel3{
    height: 70px;
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logofoot{
    background-image: url("Amazonlogo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.panel4{
    height: 50px;
    background-color: #12181f;
    color: white;
    text-align: center;
    font-size: 0.7rem;
    
}
.pages{
    padding: 10px;
}
.copyright{
    padding: 5px;
    color: white;
}